// Colors

$color-primary-ligth: #fff9cc;
$color-primary: #ffec4f;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-dark-blue: #2f2e41;
$color-black: #000;

$color-red: #ff4500;

$color-background: #f6f3eb;
// Fonts

$default-font-size: 1.6rem;

//Grid

$grid-with: 114rem;
$space-vertical: 8rem;
$gutter-vertical-small: 6rem;
$space-horizontal: 6rem;
